@import "compass";

.banner {
    position: relative;
}

.date-overlay {
    width: 60em;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left:-30em;
    text-align: center;
    padding-top: 10px;
    @include border-top-left-radius(10px);
    @include border-top-right-radius(10px);
    @include opacity(0.9);
}

.date-img {
    text-align: center;
    padding-top: 8px;
}

body {
    background-image: url(../img/paper.png);
}

.maincol {
    background-color: #fff;
    @include border-bottom-left-radius(10px);
    @include border-bottom-right-radius(10px);
}

.solid-section {
    background-color: #fff;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 2.2em;
    font-weight: normal;
    padding-left: 16px;
}

h2 {
    font-family: 'Lora', serif;
    font-size: 1.3em;
    font-weight: normal;
}

p {
    font-family: 'Lora', serif;
    font-size: 1em;
    font-weight: normal;
}

.infopanel-label {
    font-family: 'Dancing Script', cursive;
    font-weight: normal;
    font-size: 1.5em;
}

.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    font-weight: normal;
}

.sublabel {
    font-size: 0.8em;
    font-family: 'Lora', serif;
    font-weight: normal;
}

.gift-speil {
    font-size: 1em;
    font-family: 'Dancing Script', cursive;
    font-weight: normal;
}

.padded-section {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.nosidepad {
    padding-left: 15px;
    padding-right: 15px;
}

.padded-subdiv {
    padding-top: 10px;
    padding-bottom: 10px;
}

.bottom-space {
    margin-top: 25px;
    margin-bottom: 25px;
}

.solid-pale {
    background-color: #FAFAFA;
}

.solid-dark {
    background-color: #F4F4F4;
}

.gradient-pale {
    @include background-image(linear-gradient(#FAFAFA, #FAFAFA 90%, #F4F4F4));
}

.gradient-panel {
    @include background-image(linear-gradient(white, white 93%, #F4F4F4));
}

.top-bar-custom {
    @include background-image(linear-gradient(white, #FAFAFA 80%, #F2F2F2));
    @include single-box-shadow;
    @include opacity(0.95);
}

.accom-speil {
    padding-top: 35px;
}


/*Side scroll*/

.side-scroll-div {
    width: 60em;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.side-scroll-title {
    padding-left: 46px;
}

.side-scroll-padd {
    padding-left: 30px;
}

.side-scroll-container {
    width: 6000px;
}

.side-scroll-box {
    float: left;
    margin-right: 30px;
}

.side-scroll-img {
    padding-right: 30px;
}

.slivo-text {
    width: 500px;
}

.beer-text,
.folklore-text,
{
    width: 500px;
}

.famous-text,
.castles-text,
.toes-text,
.language-text {
    width: 500px;
    padding-right: 30px;
}





/*Box Shadow*/

.box-shadow
{
    position: relative;
    width: 500px;
    padding: 50px;
    margin: 0 auto;
    background-color: #fff;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.box-shadow:before, .box-shadow:after
{
    position: absolute;
    width: 40%;
    height: 10px;
    content: ' ';
    left: 12px;
    bottom: 12px;
    background: transparent;
    -webkit-transform: skew(-5deg) rotate(-5deg);
    -moz-transform: skew(-5deg) rotate(-5deg);
    -ms-transform: skew(-5deg) rotate(-5deg);
    -o-transform: skew(-5deg) rotate(-5deg);
    transform: skew(-5deg) rotate(-5deg);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.box-shadow:after
{
    left: auto;
    right: 12px;
    -webkit-transform: skew(5deg) rotate(5deg);
    -moz-transform: skew(5deg) rotate(5deg);
    -ms-transform: skew(5deg) rotate(5deg);
    -o-transform: skew(5deg) rotate(5deg);
    transform: skew(5deg) rotate(5deg);
}


/*Photo Grid*/

.img-grid {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.img-grid li {
    display: inline-block;
    margin: 10px 5px 0 5px;
    vertical-align: top;
    height: 210px;
}

.img-grid li > a,
.img-grid li > a img {
    border: none;
    outline: none;
    display: block;
    position: relative;
}
