
.banner {
    position: fixed;
    top: 75px;
    z-index: -1;
}

.welcome {
}

.zigzag {
    background-image: url(../img/zigzag.png);
    height: 119px;
}

.date-img {
    text-align: center;
}

.paper {
    background-image: url(../img/paper.png);
}