@import "compass";

$ribbon-h1-color-start: #98D0DA;
$ribbon-h1-color-end: #7BBECC;
$ribbon-h1-color-shadow: #5197A7;

$logo-ribbon-start: #ebe8dc;
$logo-ribbon-end: #ebe2cf;
$logo-ribbon-stitch-start: #c8c7c3;
$logo-ribbon-stitch-end: #f2f1ed;

$logo-text-color: #474348;


body {
    background-image: url(../img/paper.png);
}


/*Text classes*/

h1{
    font-family: 'Dancing Script', cursive;
    font-size: 1.6em;
    font-weight: normal;
    color: white;
    float:left;
    clear: both;
    text-align: center;
    position: relative;
    margin: 0 -35px 30px -35px;
    padding-left: 53px;
    padding-right: 20px;
    text-shadow: 0 1px rgba(41, 113, 107, 0.80);
    @include background-image(linear-gradient($ribbon-h1-color-start, $ribbon-h1-color-end));
}

h1:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent;
    bottom: -10px;
    border-width: 0 10px 10px 0;
    border-right-color: $ribbon-h1-color-shadow;
    left: 0;
}

h2 {
    font-family: 'Lora', serif;
    font-size: 1.3em;
    font-weight: normal;
}

h3 {
    font-family: 'Lora', serif;
    font-size: 1em;
    font-weight: 700;
}

p {
    font-family: 'Lora', serif;
    font-size: 1em;
    font-weight: normal;
}

.sublabel {
    font-size: 0.8em;
    font-family: 'Lora', serif;
    font-weight: normal;
}

.wisper {
    font-size: 0.6em;
    font-family: 'Lora', serif;
    font-weight: normal;
    font-style: italic;
}





.banner {
    position: relative;
}

.date-overlay {
    width: 60em;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left:-30em;
    text-align: center;
    padding-top: 10px;
    @include border-top-left-radius(10px);
    @include border-top-right-radius(10px);
    @include opacity(0.9);
}

.date-img {
    text-align: center;
    padding-top: 8px;
}

.maincol {
    background-color: #fff;
    @include border-bottom-left-radius(10px);
    @include border-bottom-right-radius(10px);
}

.solid-section {
    background-color: #fff;
}

.infopanel-label {
    font-family: 'Dancing Script', cursive;
    font-weight: normal;
    font-size: 1.5em;
}

.top-padd {
    padding-top: 20px;
}

.gift-speil {
    font-size: 1.3em;
    font-family: 'Lora', serif;
    font-weight: normal;
    text-align: center;
    padding-top: 70px;
}

.padded-section {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.nosidepad {
    padding-left: 15px;
    padding-right: 15px;
}

.padded-subdiv {
    padding-top: 10px;
    padding-bottom: 10px;
}

.bottom-space {
    margin-top: 20px;
    margin-bottom: 20px;
}

.solid-pale {
    background-color: #FAFAFA;
}

.solid-dark {
    background-color: #F4F4F4;
}

.gradient-pale {
    @include background-image(linear-gradient(#F4F4F4, #FBFBFB 10%, #FBFBFB 90%, #F4F4F4));
}

.gradient-panel {
    @include background-image(linear-gradient(white, white 93%, #F4F4F4));
}

.top-bar-custom {
    @include background-image(linear-gradient(white, #FAFAFA 80%, #F2F2F2));
    @include single-box-shadow(#888);
    @include opacity(0.95);
}

.accom-speil {
    padding-top: 45px;
}

#map-canvas {
    height: 700px;
    width: 28em;
}

#map-canvas img {
    max-width: none;
}

/*Side scroll*/

.side-scroll-div {
    width: 60em;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.side-scroll-title {
    margin-left: -10px;
}

.side-scroll-padd {
    padding-left: 30px;
}

.side-scroll-container {
    width: 5000px;
}

.side-scroll-box {
    float: left;
    margin-right: 20px;
}

.side-scroll-img {
    padding-right: 20px;
}

.slivo-text {
    width: 430px;
}

.beer-text {
    width: 570px;
}

.beer-image {
    margin-left: 0;
}

.folklore-text,
{
    width: 500px;
}

.famous-text,
.castles-text,
.toes-text,
.language-text {
    width: 500px;
    padding-right: 30px;
}

.lang-nav {
    padding-top: 10px;
    margin-right: 15px;
}

.photo-guide {
    padding-top: 15px;
    padding-left: 5px;
}

.modal-ribbon {
    margin-left: -40px;
    clear: both;
}

.address {
    text-align: center;
}

.sideways-label {
    position: absolute;
    text-align: right;
    margin-top: -50px;
}

.winery-orbit {
    padding-left: 15px;
}

.hand {
    cursor:pointer;
}

.iphone-app {
    font-size: 0.95em;
    font-family: 'Lora', serif;
    font-weight: normal;
    text-align: right;
    padding-right: 6px;
    padding-top: 15px;
}


/*Box Shadow*/

.shadow-subject {
    position: relative;
    z-index: 1;
}

.box-shadow
{
    position: relative;
}

.box-shadow:before, .box-shadow:after
{
    position: absolute;
    width: 40%;
    height: 10px;
    content: ' ';
    left: 17px;
    bottom: 6px;
    background: transparent;
    -webkit-transform: skew(-5deg) rotate(-5deg);
    -moz-transform: skew(-5deg) rotate(-5deg);
    -ms-transform: skew(-5deg) rotate(-5deg);
    -o-transform: skew(-5deg) rotate(-5deg);
    transform: skew(-5deg) rotate(-5deg);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    z-index: 0;
}

.box-shadow:after
{
    left: auto;
    right: 17px;
    -webkit-transform: skew(5deg) rotate(5deg);
    -moz-transform: skew(5deg) rotate(5deg);
    -ms-transform: skew(5deg) rotate(5deg);
    -o-transform: skew(5deg) rotate(5deg);
    transform: skew(5deg) rotate(5deg);
}

.folklore-image {
    margin-top: 45px;
}

.folklore-image:before, .folklore-image:after {
    bottom: 9px;
}



/*Photo Grid*/

.img-grid {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.img-grid li {
    display: inline-block;
    margin: 10px 5px 0 5px;
    vertical-align: top;
    height: 210px;
}

.img-grid li > a,
.img-grid li > a img {
    border: none;
    outline: none;
    display: block;
    position: relative;
}



/*logo ribbon*/

.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
    color: $logo-text-color;
    padding-top: 10px;
/*    text-shadow: 0 1px rgba(165, 102, 75, 0.80);*/
}

#ribbon {
    width: 180px;
    height: 65px;
    margin: 0 auto 0;
    position: absolute;
    overflow: hidden;
    left: 20px;
/*    border-left: solid 1px #888;*/
}

#ribbon .container {
    position: relative;
    width: 180px;
    height: 74px;
    overflow: hidden;
    margin: 0 auto;
}

#ribbon .base {
    top: -5px;
    height: 54px;
    width: 180px;
    @include background-image(linear-gradient($logo-ribbon-start 0%, $logo-ribbon-end 100%));
    position: relative;
    z-index: 2;
}

#ribbon .base:after {
    content: '';
    position: absolute;
    top: 0;
    width: 167px;
    left: 6px;
    height: 56px;
    border-left: 1px dashed $logo-ribbon-stitch-start;
    border-right: 1px dashed $logo-ribbon-stitch-start;
}

#ribbon .base:before {
    content: '';
    position: absolute;
    top: 0;
    width: 167px;
    left: 7px;
    height: 56px;
    border-left: 1px dashed $logo-ribbon-stitch-end;
    border-right: 1px dashed $logo-ribbon-stitch-end;
}

#ribbon .left_corner {
    width: 110px;
    height: 110px;
    background: $logo-ribbon-end;
    position: absolute;
    bottom: 20px;
    left: -25px;
    z-index: 1;

    @include rotate(85deg);
    @include single-box-shadow(#888, 0, 0, 7px);
}

#ribbon .right_corner {
    width: 110px;
    height: 110px;
    background: $logo-ribbon-end;
    position: absolute;
    bottom: 20px;
    right: -23px;
    z-index: 1;

    @include rotate(5deg);
    @include single-box-shadow(#888, 0, 0, 7px);
}
