<form action="http://www.mywedding.com/apps/public/mysite/rsvp.php" method="post" id="rsvpForm" onsubmit="return false;" ajax-post>
    <input type="hidden" name="action" value="save">
    <input type="hidden" name="s" value="rayandromana">
    <input type="hidden" name="event_id" value="269653">
    <input type="hidden" name="meal_id" value="0">
    <input type="hidden" name="rsvp_step" value="1">
    <table id="c-rsvp-contact" class="c-form">
        <thead>
        <tr>
            <th colspan="2"><h4>Your contact information</h4></th>
        </tr>
        </thead>
        <tbody>
        <tr id="c-rsvp-first-name" class="c-odd">
            <td><label for="first_name">First Name:</label></td>
            <td><input type="text" name="first_name" id="first_name" placeholder="First Name" value="" class="c-input-text"></td>
        </tr>
        <tr id="c-rsvp-last-name" class="c-even">
            <td><label for="last_name">Last Name:</label></td>
            <td><input type="text" name="last_name" id="last_name" placeholder="Last Name" value="" class="c-input-text"></td>
        </tr>
        <tr id="c-rsvp-email" class="c-odd">
            <td><label for="email">Email:</label></td>
            <td>
                <input type="text" name="email" id="email" placeholder="Email" value="" class="c-input-text">
                <small>Your email address will be visible to the couple only</small>
            </td>
        </tr>
        </tbody>
    </table>

    <script>
        function attendToggle(radio) {
            if(radio.value == 0) {
                document.getElementById('c-rsvp-num-guests').className = 'hidden';
            } else {
                document.getElementById('c-rsvp-num-guests').className = '';
            }
        }
    </script>

    <div id="c-rsvp-attendance" class="c-form">
        <h4>Will you be attending?</h4>
        <ul id="c-rsvp-attend">
            <li id="c-rsvp-attend-yes"><label for="attend_yes"><input type="radio" name="attend" id="attend_yes" value="1" class="c-input-radio" onclick="attendToggle(this);">Yes, I will attend</label></li>
            <li id="c-rsvp-attend-no"><label for="attend_no"><input type="radio" name="attend" id="attend_no" value="0" class="c-input-radio" onclick="attendToggle(this);">No, I will not attend</label></li>
        </ul>
        <div id="c-rsvp-num-guests">
            <label for="num_guests">Guests in your party, including yourself:</label>
            <input type="text" name="num_guests" id="num_guests" value="0" class="c-input-text c-input-number">
        </div>
    </div>
    <div id="info" class="c-form">
        <h4><label for="comments">A message for the couple</label></h4>
        <div id="c-rsvp-comments">
            <textarea name="comments" id="comments" placeholder="Message" rows="4" cols="40" class="c-input-text"></textarea>
        </div>
    </div>
    <ul class="c-buttons">
        <li id="c-rsvp-next"><input type="submit" value="Next&gt;&gt;"></li>
    </ul>
</form>