/* line 3, ../../sass/style.scss */
.banner {
  position: relative;
}

/* line 7, ../../sass/style.scss */
.date-overlay {
  width: 62.5em;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -31.25em;
  text-align: center;
  padding-top: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}

/* line 21, ../../sass/style.scss */
.zigzag {
  background-image: url(../img/zigzag.png);
  height: 119px;
}

/* line 26, ../../sass/style.scss */
.date-img {
  text-align: center;
  padding-top: 8px;
}

/* line 31, ../../sass/style.scss */
body {
  background-image: url(../img/paper.png);
}

/* line 35, ../../sass/style.scss */
.maincol {
  background-color: #fff;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* line 41, ../../sass/style.scss */
.solid-section {
  background-color: #fff;
}

/* line 45, ../../sass/style.scss */
h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
  font-weight: normal;
  padding-left: 16px;
}

/* line 52, ../../sass/style.scss */
h2 {
  font-family: 'Lora', serif;
  font-size: 1.2em;
  font-weight: normal;
}

/* line 58, ../../sass/style.scss */
p {
  font-family: 'Lora', serif;
  font-size: 1em;
  font-weight: normal;
}

/* line 64, ../../sass/style.scss */
.infopanel-label {
  font-family: 'Dancing Script', cursive;
  font-weight: normal;
  font-size: 1.5em;
}

/* line 70, ../../sass/style.scss */
.logo {
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
  font-weight: normal;
}

/* line 76, ../../sass/style.scss */
.sublabel {
  font-size: 0.8em;
}

/* line 80, ../../sass/style.scss */
.padded-section {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

/* line 87, ../../sass/style.scss */
.padded-subdiv {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 92, ../../sass/style.scss */
.bottom-space {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Photo Grid */
/* line 101, ../../sass/style.scss */
.og-grid {
  list-style: none;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

/* line 109, ../../sass/style.scss */
.og-grid li {
  display: inline-block;
  margin: 10px 5px 0 5px;
  vertical-align: top;
  height: 250px;
}

/* line 117, ../../sass/style.scss */
.og-grid li > a,
.og-grid li > a img {
  border: none;
  outline: none;
  display: block;
  position: relative;
}

/* line 124, ../../sass/style.scss */
.og-grid li.og-expanded > a::after {
  top: auto;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #ddd;
  border-width: 15px;
  left: 50%;
  margin: -20px 0 0 -15px;
}

/* line 138, ../../sass/style.scss */
.og-expander {
  position: absolute;
  background: #ddd;
  top: auto;
  left: 0;
  width: 100%;
  margin-top: 10px;
  text-align: left;
  height: 0;
  overflow: hidden;
}

/* line 150, ../../sass/style.scss */
.og-expander-inner {
  padding: 50px 30px;
  height: 100%;
}

/* line 155, ../../sass/style.scss */
.og-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

/* line 165, ../../sass/style.scss */
.og-close::before,
.og-close::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  height: 1px;
  background: #888;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 177, ../../sass/style.scss */
.og-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 184, ../../sass/style.scss */
.og-close:hover::before,
.og-close:hover::after {
  background: #333;
}

/* line 189, ../../sass/style.scss */
.og-fullimg,
.og-details {
  width: 50%;
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
}

/* line 197, ../../sass/style.scss */
.og-details {
  padding: 0 40px 0 20px;
}

/* line 201, ../../sass/style.scss */
.og-fullimg {
  text-align: center;
}

/* line 205, ../../sass/style.scss */
.og-fullimg img {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
}

/* line 211, ../../sass/style.scss */
.og-details h3 {
  font-weight: 300;
  font-size: 52px;
  padding: 40px 0 10px;
  margin-bottom: 10px;
}

/* line 218, ../../sass/style.scss */
.og-details p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #999;
}

/* line 225, ../../sass/style.scss */
.og-details a {
  font-weight: 700;
  font-size: 16px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 20px;
  border: 3px solid #333;
  display: inline-block;
  margin: 30px 0 0;
  outline: none;
}

/* line 238, ../../sass/style.scss */
.og-details a::before {
  content: '\2192';
  display: inline-block;
  margin-right: 10px;
}

/* line 244, ../../sass/style.scss */
.og-details a:hover {
  border-color: #999;
  color: #999;
}

/* line 249, ../../sass/style.scss */
.og-loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ddd;
  box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #cccccc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  -webkit-animation: loader 0.5s infinite ease-in-out both;
  -moz-animation: loader 0.5s infinite ease-in-out both;
  animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
  /* line 265, ../../sass/style.scss */
  0% {
    background: #ddd;
  }

  /* line 266, ../../sass/style.scss */
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #dddddd;
  }

  /* line 267, ../../sass/style.scss */
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #dddddd, -15px 30px 1px #cccccc;
  }
}

@-moz-keyframes loader {
  /* line 271, ../../sass/style.scss */
  0% {
    background: #ddd;
  }

  /* line 272, ../../sass/style.scss */
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #dddddd;
  }

  /* line 273, ../../sass/style.scss */
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #dddddd, -15px 30px 1px #cccccc;
  }
}

@keyframes loader {
  /* line 277, ../../sass/style.scss */
  0% {
    background: #ddd;
  }

  /* line 278, ../../sass/style.scss */
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #dddddd;
  }

  /* line 279, ../../sass/style.scss */
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #dddddd, -15px 30px 1px #cccccc;
  }
}

/*
@media screen and (max-width: 830px) {
    .og-expander h3 { font-size: 32px; }
    .og-expander p { font-size: 13px; }
    .og-expander a { font-size: 12px; }
}

@media screen and (max-width: 650px) {
    .og-fullimg { display: none; }
    .og-details { float: none; width: 100%; }
}*/
