/* line 2, ../../sass/style.scss */
.banner {
  position: fixed;
  top: 75px;
  z-index: -1;
}

/* line 11, ../../sass/style.scss */
.zigzag {
  background-image: url(../img/zigzag.png);
  height: 119px;
}

/* line 16, ../../sass/style.scss */
.date-img {
  text-align: center;
}

/* line 20, ../../sass/style.scss */
.paper {
  background-image: url(../img/paper.png);
}
