<!DOCTYPE html>
<!--[if lte IE 8]><html class="no-js lt-ie9" lang="en" id="ng-app" ng-app="rayandromana"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en" id="ng-app" ng-app="rayandromana"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>Ray and Romana</title>
    <meta name="description" content="Ray and Romana :)">

    <!-- build:css css/styles.css -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild -->

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="css/ie.css">
    <![endif]-->

    <!--[if lte IE 8]>
    <script src="libs/json3.min.js"></script>
    <![endif]-->

    <script src="libs/jquery/jquery.min.js"></script>
    <script src="libs/angular.js"></script>
    <script src="libs/angular-resource.js"></script>
    <script src="libs/angular-sanitize.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Lora|Dancing+Script' rel='stylesheet' type='text/css'>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdWtsmDga179niJdIZ-q_c9K_DcJ7d7ns&sensor=false"></script>

    <link rel='shortcut icon' href='favicon.ico'>

</head>

<body ng-controller="AppController" ng-cloak>

    <!--[if lt IE 8]>
    <p class="chromeframe">Unfortunately your browser is too old to display the site properly.</p>
    <![endif]-->

    <!--Top Bar-->

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">R&R</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#contact">Contact us</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="" ng-click="setEnglishLanguage()">English</a></li>
                    <li><a href="" ng-click="setCzechLanguage()">Čeština</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!--Banner-->

    <section class="banner" parallax-banner>
        <div class="banner-bg" ng-style="bannerStyle"></div>
    </section>

    <!--title-->

    <section class="row">
        <div class="container">
            <h1 class="decor txt-center">Ray &amp; Romana</h1>
            <div class="col-md-6 col-md-offset-3">
                <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </section>

    <hr>

    <section class="row">
        <h2 class="decor txt-center">Professional photos</h2>

        <div class="col-md-6 col-md-offset-3">


            <div id="carousel-example-generic" class="carousel slide">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="img/svatba/CAS-014.jpg" alt="...">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item">
                        <img src="img/svatba/CAS-056.jpg" alt="...">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="icon-prev"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="icon-next"></span>
                </a>
            </div>

        </div>

    </section>

    <hr>

    <section class="row">
        <h2 class="decor txt-center">Your photos</h2>
        <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">View photos</a>
    </section>

    <hr>

    <section class="row">
        <h2 class="decor txt-center">Videos</h2>
    </section>

    <hr>

    <section class="row">
        <h2 class="decor txt-center">Our photos</h2>
    </section>




    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <iframe src="http://weddingpartyapp.com/e/4c4e7e991059574f05d876a0130b5420"
                            width="100%" height="700" frameborder="0" allowtransparency="true">
                    </iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>





    <!-- build:js js/rayandromana.min.js -->
    <script src="js/services/services.js"></script>
    <script src="js/controllers/AppController.js"></script>
    <script src="js/app.js"></script>
    <script src="js/directives/directives.js"></script>
    <script src="js/utils/localize.js"></script>
    <script src="js/utils/analytics.js"></script>

    <script src="libs/sass-bootstrap-compass/js/modal.js"></script>
    <script src="libs/sass-bootstrap-compass/js/carousel.js"></script>
    <script src="libs/sass-bootstrap-compass/js/transition.js"></script>

    <!-- endbuild -->

</body>
</html>
