<!DOCTYPE html>
<!--[if lte IE 8]><html class="no-js lt-ie9" lang="en" id="ng-app" ng-app="rayandromana"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en" id="ng-app" ng-app="rayandromana"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>Ray and Romana</title>
    <meta name="description" content="Ray and Romana :)">

    <!-- build:css css/styles.css -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- endbuild -->

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="css/ie.css">
    <![endif]-->

    <!--[if lte IE 8]>
    <script src="libs/json3.min.js"></script>
    <![endif]-->

    <script src="libs/jquery/jquery.min.js"></script>
    <script src="libs/angular.js"></script>
    <script src="libs/angular-resource.js"></script>
    <script src="libs/angular-sanitize.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Lora|Dancing+Script' rel='stylesheet' type='text/css'>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdWtsmDga179niJdIZ-q_c9K_DcJ7d7ns&sensor=false"></script>

    <link rel='shortcut icon' href='favicon.ico'>

</head>

<body ng-controller="AppController" ng-cloak>

    <!--[if lt IE 8]>
    <p class="chromeframe">Unfortunately your browser is too old to display the site properly.</p>
    <![endif]-->

    <!--Top Bar-->

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../navbar/">Default</a></li>
                    <li><a href="../navbar-static-top/">Static top</a></li>
                    <li class="active"><a href="./">Fixed top</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>



    <!--<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <ul class="title-area">
                <div id="ribbon">
                    <div class="container">
                        <div class="base logo">Ray & Romana</div>
                        <div class="left_corner"></div>
                        <div class="right_corner"></div>
                    </div>
                </div>
            </ul>


        </div>



        <nav class="top-bar">
            <ul class="title-area">
                <div id="ribbon">
                    <div class="container">
                        <div class="base logo">Ray & Romana</div>
                        <div class="left_corner"></div>
                        <div class="right_corner"></div>
                    </div>
                </div>
            </ul>

            <section class="top-bar-section">
                <dl class="right sub-nav lang-nav">
                    <dd class="{{isActiveLang('en')}}"><a href="" ng-click="setEnglishLanguage()">English</a></dd>
                    <dd class="{{isActiveLang('cz')}}"><a href="" ng-click="setCzechLanguage()">Čeština</a></dd>
                </dl>
            </section>
        </nav>
    </div>-->

    <!--Banner-->

    <section resize-banner class="banner">
        <div>
            <img src="img/feet.jpg" class="banner-img" width="{{width}}"/>
        </div>
    </section>



    <div class="row">

        <div class="large-12 columns">abc</div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>







    <!-- build:js js/rayandromana.min.js -->
    <script src="js/services/services.js"></script>
    <script src="js/controllers/AppController.js"></script>
    <script src="js/app.js"></script>
    <script src="js/directives/directives.js"></script>
    <script src="js/utils/localize.js"></script>
    <script src="js/utils/analytics.js"></script>

    <!-- endbuild -->

</body>
</html>
