@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/halo";

/*
//------------------------------
//  FONTS
//------------------------------
*/

@font-face
{
    src: url('/assets/fonts/DancingScript-Regular.ttf');
    fontFamily: "Dancing Script";
    fontWeight: normal;
    embedAsCFF: true;
}

@font-face
{
    src: url('/assets/fonts/Lora-Regular.ttf');
    fontFamily: "Lora";
    fontWeight: normal;
    embedAsCFF: true;
}

.main-container {
    backgroundImage: url('img/paper.png');

}

/*
//------------------------------
//  GLOBAL
//------------------------------
*/

global
{
    font-family: "Lora";
    font-size: 16px;
}

s|RichText
{
    paragraphSpaceBefore: 12;
    paragraphSpaceAfter: 12;
    lineHeight: 25;
}

.h1
{
    font-family: "Dancing Script";
    font-size: 26px;
    color: #5197A7;
}

.h2
{
    font-family: "Lora";
    font-size: 20px;
}

/*
//------------------------------
//  TEXT
//------------------------------
*/

.sublabel
{
    font-family: "Lora";
    font-size: 12px;
}

.infoLabel
{
    font-family: "Dancing Script";
    font-size: 22px;
    color: #000000;
}

.logo
{
    font-family: "Dancing Script";
    font-size: 24px;
    color: #000000;
}

